---
import { getCollection } from "astro:content";
import Page from "../../components/Page.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Page title={entry.data.title}>
    <h1>{entry.data.title}</h1>
    <a href="/">Back to home</a>
    <Content />
</Page>
