---
import { getCollection } from "astro:content";
import Page from "../../components/Page.astro";
// Have to use imported styles so that they're applied to rendered Markdown
// content. See docs or e.g. https://github.com/withastro/docs/issues/3485
import "../../styles/post-styles.css";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Page title={entry.data.title}>
    <h1>{entry.data.title}</h1>
    <a href="/">Back to home</a>

    {entry.data.draft === true && <p class="draft-warning">This post is a draft; it is not yet complete.</p>}

    <Content />
</Page>

<style>
    .draft-warning {
        color: #de3e7e;
        font-size: 120%;
        border: 2px solid #de3e7e;
        padding: 5px 10px;
        width: max-content;
    }
</style>
