---
import { getCollection } from "astro:content";
import Page from "../../components/Page.astro";
// Have to use imported styles so that they're applied to rendered Markdown
// content. See docs or e.g. https://github.com/withastro/docs/issues/3485
import "../../styles/post-styles.css";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Page title={entry.data.title}>
    <h1>{entry.data.title}</h1>
    <a href="/">Back to home</a>
    <Content />
</Page>
