---
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

import sadImg from "../assets/sad.jpg";

const meta = {
	description: "This page was not found.",
	title: "404",
};

const { pathname } = Astro.url;
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404</h1>
  <p class="mb-4">Oops! The page <span class="font-mono text-teal-600">{pathname}</span> wasn&rsquo;t found on this site.</p>
	<p class="mb-4">
		If you came here via my blog, this is probably a coding error. If you are feeling kind, you can
		let me know.
	</p>
	<p class="mb-4">
		If you were looking for something else, maybe check my projects page to see if you were looking
		for something there!
	</p>
	<Image alt="Sad Pokémon image for 404 page" class="mt-8 w-64" src={sadImg} />
</PageLayout>
