---
import Page from "../components/Page.astro";
import PostList from "../components/PostList.astro";
---

<Page title="Home">
  <h1>Hello!</h1>

  <p>You&rsquo;ve reached my personal website. Welcome.</p>

  <p>
    I&rsquo;m a software engineer at <a
      href="https://alan-turing-institute.github.io/REG"
      >The Alan Turing Institute</a
    >. I love writing Haskell, but realistically most of my job is Julia. If I
    have lots of spare time I might write a bit about programming or other
    stuff, but no promises. You can find me on GitHub at <a
      href="https://github.com/penelopeysm"
      target="_blank">@penelopeysm</a
    >.
  </p>

  <p>
    I&rsquo;m a classical musician. This blog actually started because at one point I decided to start collecting
    classical music concerts that I&rsquo;d attended. For some time I <i
      >tried</i
    > to talk a little bit about what I enjoyed (or did not enjoy) about each of
    them with some justification, although these are of course all subjective, and
    are not intended as a review of how <i>good</i> the performance was. Nowadays
    I&rsquo;ve given up on reviewing them and have just recorded the repertoire.
    Unfortunately I don&rsquo;t have full records of concerts before 2024.
  </p>

  <p>
    This blog is written using Astro, with a fairly bare-bones design. It used
    to be even more bare-bones, then Claude Code came along and I realised I
    could make it look a little bit nicer without too much effort.
  </p>

  <h2>Some things I&rsquo;ve done</h2>

  <ul>
      <li>I&rsquo;ve been a core developer on <a href="https://turinglang.org" target="_blank">Turing.jl</a> for around two years now. My colleagues and I have rewritten most of the core data structures and APIs to improve correctness, modularity, and performance.</li>
      <li>I dabble in compilers. I&rsquo;m not an expert; I&rsquo;m just following textbooks. You can see my progress on Nora Sandler&rsquo;s <i>Writing A C Compiler</i> <a href="https://pysm.dev/cccc" target="_blank">here</a>.</li>
      <li>I&rsquo;ve worked on diversity and inclusion at my workplace for around two years. I&rsquo;m particularly passionate about levelling the playing field through education and open knowledge.</li>
      <li>I made <a href="https://apribot.fly.dev/" target="_blank">a Discord bot</a> for a Pokémon trading server. I also have a <a href="docs.google.com/spreadsheets/d/1IR6rCNQYFccBrc_cxNVv2gEQnVpecEAo58IDRJYWNlo/edit" target="_blank">complete collection of all (breedable) Pokémon in all rare balls</a>, which (depending on your perspective) can be either impressive, slightly unhinged, or both, but it kept me sane during my PhD.</li>
      <li>In a past life I was a quantum chemist, which I sometimes miss, even though I don&rsquo;t regret moving to software engineering.</li>
  </ul>

  <h2>Posts</h2>
  <PostList />
</Page>
