---
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello!</h1>
		<p class="mb-4">
			At long last I've decided to start collecting classical music concerts that I've attended.
			I'll try to rate each of them and write a little bit of justification, although these are of
			course all subjective, and are mainly intended for my own memory. Unfortunately I don't have
			full records of concerts before 2024, although I've tried to add those I still remember.
		</p>
		<p class="mb-4">
			I'm a software engineer at my day job. If I have lots of spare time I might write a bit about
			programming or other stuff, but no promises. You can find me on GitHub at <a
				class="cactus-link"
				href="https://github.com/penelopeysm"
				target="_blank">@penelopeysm</a
			>.
		</p>
		<p class="mb-4">
			This blog is made with <a class="cactus-link" href="https://astro.build" target="_blank"
				>Astro</a
			>, and the theme is a very slightly modified version of <a
				class="cactus-link"
				href="https://github.com/chrismwilliams/astro-theme-cactus"
				target="_blank">Astro Cactus</a
			>.
		</p>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
