---
import Page from "../components/Page.astro";
import PostList from "../components/PostList.astro";
---

<Page title="Home">
  <h1>Hello!</h1>

  <p>You&rsquo;ve reached my personal website. Welcome.</p>

  <p>
    I&rsquo;m a software engineer at <a
      href="https://alan-turing-institute.github.io/REG"
      >The Alan Turing Institute</a
    >. I love writing Haskell, but realistically most of my job is Julia.
    I&rsquo;ve been a core developer on <a href="https://turinglang.org"
      >Turing.jl</a
    > for about two years now. (No, the names are not related.) If I have lots of
    spare time I might write a bit about programming or other stuff, but no promises.
    You can find me on GitHub at <a
      href="https://github.com/penelopeysm"
      target="_blank">@penelopeysm</a
    >.
  </p>

  <p>
    I&rsquo;m a classical musician. At one point, I decided to start collecting
    classical music concerts that I&rsquo;ve attended. For some time I <i
      >tried</i
    > to talk a little bit about what I enjoyed (or did not enjoy) about each of
    them with some justification, although these are of course all subjective, and
    are not intended as a review of how <i>good</i> the performance was. Nowadays
    I&rsquo;ve given up on reviewing them and have just recorded the repertoire.
    Unfortunately I don&rsquo;t have full records of concerts before 2024.
  </p>

  <p>
    This blog is written using Astro, with a fairly bare-bones design. It used
    to be even more bare-bones, then Claude Code came along and I realised I
    could make it look a little bit nicer without too much effort.
  </p>

  <h2>Posts</h2>
  <PostList />
</Page>
