---
import Page from "../components/Page.astro";
import PostList from "../components/PostList.astro";
---

<Page title="Home">
  <h1>Hello!</h1>

  <p>
    At long last I&rsquo;ve decided to start collecting classical music concerts
    that I&rsquo;ve attended. I&rsquo;ll try to talk a little bit about what I
    enjoyed (or did not enjoy) about each of them with some justification,
    although these are of course all subjective, and are not intended as a
    review of how <i>good</i> the performance was. Unfortunately I don&rsquo;t have
    full records of concerts before 2024, although I&rsquo;m trying to add those
    I still remember.
  </p>

  <p>
    I&rsquo;m a software engineer at my day job. I love writing Haskell, but
    realistically most of my job is <s>Python</s>
    <s>Julia</s> GitHub Actions. If I have lots of spare time I might write a bit
    about programming or other stuff, but no promises. You can find me on GitHub
    at <a href="https://github.com/penelopeysm" target="_blank">@penelopeysm</a
    >.
  </p>

  <p>
    This blog is written using Astro. The layout is extremely bare-bones at the
    moment because I'm redoing it from scratch instead of using a template. That
    will, hopefully, force me to actually learn how Astro works, and also let me
    customise it more to my liking. (Though, to be honest, I already quite like
    how it looks right now.)
  </p>

  <h2>Posts</h2>
  <PostList />

  <h2>Some other things I've done</h2>
  <ul>
    <li>
      <a href="/london_classical"
        >A website aggregating classical music concerts in London</a
      >
    </li>
    <li>
      <a href="https://apribot.fly.dev"
        >Discord bot for a Pokémon collecting and breeding server</a
      >
    </li>
  </ul>
</Page>
