---
const { title } = Astro.props;
const siteTitle = "A penny for..."

import '../styles/global.css';
---

<html lang="en">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta charset="utf-8" />
        <title>{title} • {siteTitle}</title>
    </head>

    <body>
        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    body {
        display: flex;
        justify-content: center;
        margin: 20px 50px;
        background-color: #e9e9f7;
    }
    main {
        min-width: calc(100vw - 100px);
        max-width: 1000px;
    }
</style>
