---
const { post } = Astro.props;

function formatDate(date: string) {
  return new Date(date).toLocaleDateString("en-GB", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
}
---

<div>{formatDate(post.data.publishDate)}</div>
<div>
  {post.data.draft === true && <span class="draft-warning">(draft)</span>}
  <a href={`posts/${post.slug}`}>{post.data.title}</a>
</div>

<style>
  span.draft-warning {
    color: #de3e7e;
  }
  li {
    style: none;
  }
</style>
